# Uber

**import libraries**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

**Read the data**

In [2]:
df = pd.read_csv('Uber Request Data .csv')

**use head() function to display the data**

In [3]:
df.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47

**what is the data type of the columns**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  6745 non-null   object
 5   Drop timestamp     2831 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 316.3+ KB

**change the columns data types if it needs and display the data**

In [5]:
df['Request id'] = df['Request id'].astype(str)

In [6]:
df.dtypes

Request id            object
Pickup point          object
Driver id            float64
Status                object
Request timestamp     object
Drop timestamp        object
dtype: object

In [7]:
df['Driver id'] = df['Driver id'].astype(str)

**what is the duration of each trip ?**

In [9]:
df["RequestYear"] = pd.to_datetime(df["Request timestamp"]).dt.year
df["RequestMonth"] = pd.to_datetime(df["Request timestamp"]).dt.month

df["DropYear"] = pd.to_datetime(df["Drop timestamp"]).dt.year.astype("Int64")
df["DropMonth"] = pd.to_datetime(df["Drop timestamp"]).dt.month.astype("Int64")

#df['duration'] = df['Request timestamp'] - df['Drop timestamp']

df.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,RequestYear,RequestMonth,DropYear,DropMonth
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00,2016,11,2016,11
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47,2016,11,2016,11
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58,2016,12,2016,12
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03,2016,12,2016,12
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47,2016,7,2016,7

**how many row and columns in the data ?**

In [10]:
df.shape

(6745, 10)